{% for indv in individuals | sort(attribute='uuid') %}

individual {{ indv.mk }}{{'	(locked)' if indv.is_locked }}

Profile:
    * Name: {{ indv.profile.name|d('-', true) }}
    * E-Mail: {{ indv.profile.email|d('-', true) }}
    * Gender: {{ indv.profile.gender|d('-', true) }}
    * Bot: {{ '%s' % 'Yes' if indv.profile.is_bot else 'No' }}
    * Country: {{ '%s' % indv.profile.country.code + ' - ' + indv.profile.country.name if indv.profile.country else '-' }}

{% if indv.identities %}
Identities:
{% for identity in indv.identities | sort(attribute='uuid') %}
  {{ identity.uuid }}	{{ identity.name|d('-', true) }}	{{ identity.email|d('-', true) }}	{{ identity.username|d('-', true) }}	{{ identity.source }}
{% endfor %}
{% else %}
No identities
{% endif %}

{% if indv.enrollments %}
Enrollments:
{% for rol in indv.enrollments %}
  {{ rol.group.name }}	{{ rol.start.strftime('%Y-%m-%d %H:%M:%S') }}	{{ rol.end.strftime('%Y-%m-%d %H:%M:%S') }}
{% endfor %}
{% else %}
No enrollments
{% endif %}

{% endfor %}
