language: python

python:
  - "3.4"

sudo: false

install:
  - pip install coveralls
  - pip install cryptography

before_script:
  - mysql -e 'create database testhat;'
  - cp tests/tests.conf.sample tests/tests.conf

script:
  - coverage run --source=sortinghat setup.py test

after_success:
  - coveralls

notifications:
  irc: "chat.freenode.net#grimoirelab"

branches:
  except:
  - muggle

