{% for uid in uidentities | sort(attribute='uuid') %}
unique identity {{ uid.uuid }}

{% if uid.profile %}
Profile:
    * Name: {{ uid.profile.name|d('-', true) }}
    * E-Mail: {{ uid.profile.email|d('-', true) }}
    * Bot: {{ '%s' % 'Yes' if uid.profile.is_bot else 'No' }}
    * Country: {{ '%s' % uid.profile.country.code + ' - ' + uid.profile.country.name if uid.profile.country else '-' }}
{% else %}
No profile
{% endif %}

{% if uid.identities %}
Identities:
{% for identity in uid.identities | sort(attribute='id') %}
  {{ identity.id }}	{{ identity.name|d('-', true) }}	{{ identity.email|d('-', true) }}	{{ identity.username|d('-', true) }}	{{ identity.source }}
{% endfor %}
{% else %}
No identities
{% endif %}

{% if uid.roles %}
Enrollments:
{% for enrollment in uid.roles %}
  {{ enrollment.organization.name }}	{{ enrollment.start }}	{{ enrollment.end }}
{% endfor %}
{% else %}
No enrollments
{% endif %}


{% endfor %}
