@use "sass:color";

$selected-color: #003756;
$active-color: #f4bc00;
$border-color: rgba(0, 0, 0, 0.12);

.link--underline {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

// Expanded table item
.expanded:not(.selected) {
  box-shadow: inset 1px 0 0 $border-color,
  inset -2px 0px 1px -1px $border-color;
}

.expanded.selected {
  box-shadow: inset 4px 0 0 $selected-color,
  inset -1px 0px 1px -1px rgba(0, 0, 0, 0.45);
}

.row-border:not(:last-child) {
  border-bottom: thin solid $border-color;
}

.theme--light.v-data-table .v-list--dense {
  background-color: transparent;
}

.v-table__wrapper tr + td {
  font-size: 0.875rem;
  padding: 12px 72px 4px 72px;
  border: thin solid $border-color;
  border-top: 0;
}

.v-data-table__wrapper tr:not(.expanded) + td {
  padding-left: 2rem;
}

.theme--light.v-data-table tbody tr:first-child.expanded td {
  border-top: thin solid $border-color;
}

// Selected table item
.selected {
  background-color: color.adjust($selected-color, $lightness: 80%);
}

.selected,
.expanded.selected + td {
  box-shadow: inset 4px 0 0 $selected-color;
  border-left: 0;
}

.theme--light.v-data-table
  tbody
  tr.selected:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background-color: color.adjust($selected-color, $lightness: 75%, $saturation: -30%);
  transition: background-color 30ms linear;
}

.theme--light.v-data-table
  tbody
  .dragging:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper),
.dragging {
  background-color: color.adjust($selected-color, $lightness: 75%, $saturation: -30%);
  box-shadow: inset 4px 0 0 $selected-color;
}

// Highlighted item
.highlighted:not(.v-card) {
  box-shadow: inset 0px 0px 0px 2px $selected-color;
}

.highlighted:not(.v-card).selected {
  box-shadow: inset 0px 0px 0px 2px $selected-color,
  inset 0px 0px 0px 2px $selected-color,
  inset 0px 0px 0px 2px $selected-color,
  inset 4px 0 0 $selected-color;
}

.v-card:not(.v-sheet--outlined).highlighted {
  box-shadow: 0px 5px 5px -3px rgba(187, 222, 251, 0.4),
  0px 8px 10px 1px rgba(187, 222, 251, 0.34),
  0px 3px 14px 2px rgba(187, 222, 251, 0.32),
  inset 0px 0px 0px 2px $selected-color;
  transition-duration: 0s;
}

.team-modal-content{
 max-height: 750px;
  overflow-y: auto;
}

// Drop zones
.theme--light.v-data-table
  tbody
  .dropzone:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper),
.dropzone:not(.locked) {
  background-color: color.adjust($active-color, $lightness: 40%, $saturation: -20%);
}

.v-pagination__item--is-active .v-btn--variant-text {
  background-color: $selected-color;
  color: #ffffff;
}

.theme--light.v-icon,
.v-btn--round .v-btn__content .v-icon,
.theme--light.v-btn--outlined .v-btn__content .v-icon{
  color: rgba(0, 0, 0, 0.62);
}

.v-subheader {
  font-weight: 500;
  // color: rgba(0, 0, 0, 0.87);
}

.subheader {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.375rem;
  letter-spacing: normal;
  font-family: "Roboto", sans-serif;
}

.section {
  background: #FFFFFF;
  border: thin solid rgba(0, 0, 0, 0.08);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin: 0;
    border-bottom: thin solid rgba(0, 0, 0, 0.08);

    .title {
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 2rem;
      letter-spacing: 0.0125em;

      .v-chip.v-size--small {
        font-size: 0.9rem;
      }
    }
  }

  .actions {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    padding: 1rem 2rem;
  }

  .v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 0;
  }
}

.organizations.section,
.jobs.section {
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:first-child,
  .v-data-table > .v-data-table__wrapper > table > thead > tr > th:first-child {
    padding: 0 0 0 2rem;
  }
}

.v-application__wrap {
  background: #F2F3F5;
}

.v-snack__content::first-letter {
  text-transform: capitalize;
}

fieldset {
  border: 0;
}

.v-btn--variant-outlined {
  border: thin solid rgba(0, 0, 0, 0.12)
}

:deep(.v-chip--variant-outlined) {
  border: thin solid #dee3eb;
}

:deep(.v-list-subheader__text) {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
}
